<% layout('layout/boilerplate') -%>
<div class="container">
    <div class=" text-center mt-5 ">

        <h1 >Add University</h1>
            
        
    </div>


<div class="row ">
  <div class="col-lg-7 mx-auto">
    <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
   
        <div class = "container">
        <form action="/p1/product/info" id="contact-form" role="form" method="POST">

        

        <div class="controls">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name">University id </label>
                        <input id="form_name" type="text" class="form-control" placeholder="Please enter university id *" required="required" name="universityId">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name">University name </label>
                        <input id="form_name" type="text" class="form-control" placeholder="Please enter university name *" required="required" name="universityName">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name">University Location </label>
                        <input id="form_name" type="text" class="form-control" placeholder="Please enter university Location *" required="required" name="location">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">No. Of Student</label>
                        <input id="form_email" type="number" name="numberOfStudents" class="form-control" placeholder="Please enter no. of students" required="required" >
                        
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">No. Of Courses</label>
                        <input id="form_email" type="number" name="numberOfCourses" class="form-control" placeholder="Please enter no. of courses" required="required" >
                        
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Email</label>
                        <input id="form_email" type="email" name="contactEmail" class="form-control" placeholder="Please email" required="required" >
                        
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Est Year</label>
                        <input id="form_email" type="number" name="establishedYear" class="form-control" placeholder="established Year" required="required" >
                        
                    </div>
                </div>
    
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Is Public</label>
                        <input id="form_email" type="name" name="isPublic" class="form-control" placeholder="public" required="required" >
                        
                    </div>
                </div>
    
            </div>
            <button class="ed" type="submit">Add University</button>
    </div>
     </form>
    </div>
        </div>


</div>
    <!-- /.8 -->

</div>
<!-- /.row-->

</div>
</div>
