<% layout('layout/boilerplate') -%>

<div class="container text-center mt-5">
    <h1 class="mb-4">Welcome to University Management</h1>
    <p class="lead">Discover ease.</p>

    <div class="mt-4">
        <a href="/p1/products" class="btn btn-primary btn-lg">View Universities</a>
        <a href="/p1/product/add" class="btn btn-outline-secondary btn-lg">Add University</a>
    </div>

    <div class="mt-5 mb-5">
        <img src="https://images.pexels.com/photos/462331/pexels-photo-462331.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded" alt="Home Banner">
        <!-- <img src="https://images.pexels.com/photos/957024/forest-trees-perspective-bright-957024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> -->
    </div>
</div>
